body{
    background-image: url(https://assets.simpleviewcms.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/norway/large_Travelling_with_train_Fla_m_Torild_Moland_TravelStock_388b4c82_a719_4ec1_bfc2_ce3c26e9c4ad_ab8ce8cc-28ed-4e78-a3a6-e45619cbbffb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
    height: 100vh;
}
.container{
    background-color: rgba(0, 0, 0, 0.79);
    padding: 2rem;
    border-radius: 20px;
    height: 80vh;
}
h1{
    text-align: center;
}
form{
    margin: auto;
}
.container-eta{
    width: 166px;
}
h5{
    margin: 1.5rem 0;
    text-align: center;
}
.button-container{
    margin-top: 2rem;
}
.button-container button {
    background-color: #4CAF50; 
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }