body{
    background-image: url(https://assets.simpleviewcms.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/norway/large_Travelling_with_train_Fla_m_Torild_Moland_TravelStock_388b4c82_a719_4ec1_bfc2_ce3c26e9c4ad_ab8ce8cc-28ed-4e78-a3a6-e45619cbbffb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: rgba(0, 0, 0, 0.79);
    padding: 2rem;
    border-radius: 20px;
    max-width: 1000px;
    width: 70vw;
    min-width: 700px;
}
h1{
    text-align: center;
    margin-bottom: 1.5rem;
}
form{
    margin: auto;
}
.container-eta{
    width: 166px;
}
form h5{
    padding: 2rem 0;
    text-align: center;
}
.button-container{
    margin-top: 1.5rem;
}
.button-container button {
    background-color: #4CAF50; 
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 3rem;
  }
.button-container .reset {
    background-color: red;
}
.container-biglietto{
    margin-top: 3rem;
}
.biglietto{
    margin: 2rem;
    padding: 1.5rem;
    background-color: white;
    color: black;
    height: 25vh;
    border-radius: 10px;
}
.container-out{
    height: 90%;
}
.container-nome{
    background-color: #4CAF50;
    height: 100%;
}
.container-nome h5{
    padding-top: 1rem;
}
#nome-out{
    padding-top: 2rem;
}
.container-dati{
    height: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.container-dati>div{
    padding: 1rem 0;
}
.container-dati h5{
    padding-bottom: 2rem;
}